.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: minmax(100px, auto) 1fr;
  column-gap: var(--gap-xl);
  min-height: 100vh;
}

.gridcontainer__header {
  grid-column: 1/3;
  background-color: var(--color-bg);
}

.gridcontainer__sidebar {
  background-color: lightgray;
}

.gridcontainer__main {
  background-color: coral;
}
